{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var chatDiv = $('#chat');
            chatDiv.scrollTop(chatDiv[0].scrollHeight);  // Desplaza hasta la parte inferior

            // Escucha el envío del formulario y ajusta el desplazamiento después de agregar un nuevo mensaje
            $('#chatForm').submit(function() {
                setTimeout(function() {
                    chatDiv.scrollTop(chatDiv[0].scrollHeight);
                }, 0);
            });
        });
    </script>
{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-screen">
    <div class="bg-white divide-y divide-gray-200 p-8 rounded-md shadow-md w-96">
       Tu Usuaurio: <strong class="">{{usuarioAct}}</strong>
        <div id="chat" class="h-64 overflow-y-auto mb-4">
        {% for mensaje in mensajes %}
            <div class="mb-2">
            <strong>{{ mensaje.getNombre().getNombre()}}</strong>
            <p>{{ mensaje.getContenido() }}  <span class="text-xs">{{ mensaje.getFecha() | date('Y-m-d') }}</span></p>
           
            </div>
        {% endfor %}
            <!-- Agrega más mensajes aquí -->
        </div>

        <!-- Formulario para enviar mensajes -->
        <form id="chatForm" action='{{path("app_chat")}}' method="post">
            <input type="text" name="message" id="message" class="w-full p-2 border rounded-md mb-2" placeholder="Escribe tu mensaje...">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
